<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Gen0 NFTs</title>
</head>
<style> body{background-color: dimgray;} </style>
<body>
    <h1 style="color:#fffafa"> Kumato: Get Hybrid NFT </h1>
    <h2 style="color:#fffafa"> Congratulations! You've generated a new NFT. </h2>
    <b style="color:#fffafa">Your NFT ID: {{NFTID}}</b>
    <br><br>
    <b style="color:#fffafa">  Your NFT Image:</b>
    <font color="#fffafa"> {{imageURL}} </font>
    <br><br>
    <img src="{{imageURL}}", width = 300, height = 300>
    <br><br>
    <b style="color:#fffafa">Metadata:</b>
    <br><br>
    <font color="#fffafa"><a href = '{{metadata}}'> localhost{{metadata}} </a> </font>
    <br><br>

</body>
</html>